$bluecolor: blue;
$white:white;
$green: #78BD6F;
$darkblue:#446B7F;
$lightblue:#12bbf1;
$lightgrey:#5C5656;
$darkgrey:#707070;
$ligthergrey:#ccc;
$black:#000000;
$red: #FF194E;
$redgraph:#de4a5e;


$mobilpaycolor: #5B79FF;
$b2:#7ea6ba;
$b3:#b2c9d6;

